body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: darkgray;
  // background-image: url("../images/paper_clouds.jpg");
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;

  main{
    margin: auto;
    background-image: url("../images/paper_clouds.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 300px;
    max-width: auto;
    height: auto; 

    .weathercard{
      h1{
        color: rgb(51, 188, 212);
        font-size: 3rem;  
        font-weight: 900;
        text-shadow: 
          -0.0075em 0.0075em 0 mix(#fff, rgb(31, 31, 146), 94%),
          0.005em 0.005em 0 mix(#fff, rgb(31, 31, 146), 60%),
          0.01em 0.01em 0 mix(#fff, rgb(31, 31, 146), 62%), 
          0.015em 0.015em mix(#fff, rgb(31, 31, 146), 64%), 
          0.02em 0.02em 0 mix(#fff, rgb(31, 31, 146), 66%), 
          0.025em 0.025em 0 mix(#fff, rgb(31, 31, 146), 68%),
          0.03em 0.03em 0 mix(#fff, rgb(31, 31, 146), 70%),
          0.035em 0.035em 0 mix(#fff, rgb(31, 31, 146), 72%);
      }
      p{
        color: rgb(51, 188, 212);
        font-size: 1.5rem;
        text-shadow: 
        -0.0075em 0.0075em 0 mix(#fff, rgb(31, 31, 146), 94%),
        0.005em 0.005em 0 mix(#fff, rgb(31, 31, 146), 60%),
        0.01em 0.01em 0 mix(#fff, rgb(31, 31, 146), 62%), 
        0.015em 0.015em mix(#fff, rgb(31, 31, 146), 64%), 
        0.02em 0.02em 0 mix(#fff, rgb(31, 31, 146), 66%), 
        0.025em 0.025em 0 mix(#fff, rgb(31, 31, 146), 68%),
        0.03em 0.03em 0 mix(#fff, rgb(31, 31, 146), 70%),
        0.035em 0.035em 0 mix(#fff, rgb(31, 31, 146), 72%);

      }
      margin: 20px auto;
      min-width: 300px;
      background-color: rgba(255, 255, 255, 0.384);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;      
      height: auto; 
      backdrop-filter: blur(4px);  
      padding: 20px; 
      text-align: center;

      .input-field{
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 500px;
        

        ::placeholder{
          color: lightgray;
          padding-left: 5px;
        }
        .inputLabel{
          margin-right: 150px;
          font-family: "Quicksand";
          display: block;
        }
        
        input{
          background-color: rgba(255, 255, 255, 0.705);
          font-family: "Quicksand";
          font-size: 2rem;
          height: 2.5rem;
          width: 80%;
          border: none;
          border-radius: 8px;
          border-bottom: 1px solid gray;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;      

        }
        input[type=text]:focus {
          outline:none
      }
      
        button {
          cursor: pointer;
          background-color: #fff;
          --color: rgb(51, 188, 212);
          font-family: inherit;
          display: inline-block;
          width: 6em;
          height: 2.5em;
          line-height: 2.5em;
          overflow: hidden;
          margin: 10px;
          font-size: 17px;
          z-index: 1;
          color: var(--color);
          border: 2px solid var(--color);
          border-radius: 8px;
          position: relative;
        }
        
        button::before {
          position: absolute;
          content: "";
          background: var(--color);
          width: 150px;
          height: 200px;
          z-index: -1;
          border-radius: 50%;
        }
        
        button:hover {
          color: white;
        }
        
        button:before {
          top: 100%;
          left: 100%;
          transition: .3s all;
        }
        
        button:hover::before {
          top: -30px;
          left: -30px;
        }
      }
      .card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .card{
          .weather-image{
            height: 100px;
          }
          .temperature{
            p {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  // footer{
  //   position: absolute;
  //   bottom: 0;
  //   width: 100vw;
  //   height: 2.5rem;
  // }
}

// @media only screen and (max-width: 600px) {
//   body{
//     main{
//       .weathercard{
//         h1{
//           font-size: 3rem;
//         }
//         p{
//           font-size: 1rem;
//         }
//       }  
//     }
//   }
// }
