body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("../images/paper_clouds.jpg");
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body main {
  margin: auto;
  min-width: 300px;
  max-width: auto;
  height: auto;
  max-width: 1200px;
}
body main .weathercard {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px auto;
  min-width: 300px;
  background-color: rgba(255, 255, 255, 0.384);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  height: auto;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  text-align: center;
}
body main .weathercard h1 {
  color: #353f5a;
  font-size: 3rem;
  font-weight: 900;
}
body main .weathercard p {
  color: #353f5a;
  font-size: 1.5rem;
}
body main .weathercard header {
  max-width: 600px;
  margin: auto;
  margin-bottom: 50px;
}
body main .weathercard header .input-field {
  margin: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
}
body main .weathercard header .input-field ::-webkit-input-placeholder {
  color: lightgray;
  padding-left: 5px;
}
body main .weathercard header .input-field ::-moz-placeholder {
  color: lightgray;
  padding-left: 5px;
}
body main .weathercard header .input-field :-ms-input-placeholder {
  color: lightgray;
  padding-left: 5px;
}
body main .weathercard header .input-field ::-ms-input-placeholder {
  color: lightgray;
  padding-left: 5px;
}
body main .weathercard header .input-field ::placeholder {
  color: lightgray;
  padding-left: 5px;
}
body main .weathercard header .input-field .inputLabel {
  margin-right: 150px;
  font-family: "Oswald", sans-serif;
}
body main .weathercard header .input-field input {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.705);
  font-family: "Oswald", sans-serif;
  height: 2.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  border-bottom: 1px solid gray;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
body main .weathercard header .input-field input[type=text]:focus {
  outline: none;
}
body main .weathercard header .input-field button {
  cursor: pointer;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-bottom: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.4666666667);
  --color:#353f5a;
  font-family: "Oswald", sans-serif;
  width: 6em;
  height: 2.5em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 10px;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 8px;
  position: relative;
}
body main .weathercard header .input-field button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}
body main .weathercard header .input-field button:hover {
  color: white;
}
body main .weathercard header .input-field button:before {
  top: 100%;
  left: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
body main .weathercard header .input-field button:hover::before {
  top: -30px;
  left: -30px;
}
body main .weathercard .card-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}
body main .weathercard .card-container .card:nth-of-type(1) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 45%;
  height: 455px;
}
body main .weathercard .card-container .card:nth-of-type(1) .weather-image {
  height: 200px;
  -webkit-filter: brightness(0) saturate(100%) invert(20%) sepia(14%) saturate(1647%) hue-rotate(186deg) brightness(94%) contrast(84%);
          filter: brightness(0) saturate(100%) invert(20%) sepia(14%) saturate(1647%) hue-rotate(186deg) brightness(94%) contrast(84%);
}
body main .weathercard .card-container .card:nth-of-type(1) .temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px auto;
  width: 150px;
}
body main .weathercard .card-container .hour-card {
  width: 52%;
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  -webkit-box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.1);
}
body main .weathercard .card-container .hour-card .hour-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body main .weathercard .card-container .hour-card .hour-header p {
  font-size: 1rem;
}
body main .weathercard .card-container .hour-card .hour {
  background-color: rgba(255, 255, 255, 0.2941176471);
  border-radius: 0px;
  border-bottom: 1px solid gray;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body main .weathercard .card-container .hour-card .hour p {
  margin: 12px;
}
body main .weathercard .card-container .hour-card .hour .hour-image {
  -webkit-filter: brightness(0) saturate(100%) invert(20%) sepia(14%) saturate(1647%) hue-rotate(186deg) brightness(94%) contrast(84%);
          filter: brightness(0) saturate(100%) invert(20%) sepia(14%) saturate(1647%) hue-rotate(186deg) brightness(94%) contrast(84%);
  height: 50px;
  margin: auto 0;
}
body main .weathercard .card-container .card {
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  width: 180px;
  -webkit-box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.1);
}
body main .weathercard .card-container .card .weather-image {
  height: 100px;
  -webkit-filter: brightness(0) saturate(100%) invert(20%) sepia(14%) saturate(1647%) hue-rotate(186deg) brightness(94%) contrast(84%);
          filter: brightness(0) saturate(100%) invert(20%) sepia(14%) saturate(1647%) hue-rotate(186deg) brightness(94%) contrast(84%);
}
body main .weathercard .card-container .card .temperature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body main .weathercard .card-container .card .temperature p {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }
  body main .weathercard {
    margin: 0 auto;
  }
  body main .weathercard header h1 {
    font-size: 3rem;
    margin-top: 0;
    padding-top: 15px;
  }
  body main .weathercard header p {
    font-size: 1rem;
  }
  body main .weathercard header .input-field {
    margin: auto;
    scale: 0.88;
  }
  body main .weathercard header .input-field input {
    height: 2.5rem;
    font-size: 1.5rem;
  }
  body main .weathercard .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  body main .weathercard .card-container .card:nth-of-type(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    width: 320px;
    border-bottom: none;
  }
  body main .weathercard .card-container .card:nth-of-type(1) .weekday {
    font-size: 2rem;
    margin: 5px;
  }
  body main .weathercard .card-container .card:nth-of-type(1) .weather-image {
    display: block;
    height: 125px;
    width: 125px;
    margin: auto;
    -webkit-filter: brightness(0) saturate(100%) invert(20%) sepia(14%) saturate(1647%) hue-rotate(186deg) brightness(94%) contrast(84%);
            filter: brightness(0) saturate(100%) invert(20%) sepia(14%) saturate(1647%) hue-rotate(186deg) brightness(94%) contrast(84%);
  }
  body main .weathercard .card-container .card:nth-of-type(1) .temperature {
    margin: auto;
    width: 150px;
  }
  body main .weathercard .card-container .card:nth-of-type(1) .temperature p {
    font-size: 24px;
    margin: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .weathercard .card-container .hour-card {
    margin-bottom: 20px;
    width: 320px;
    -webkit-backdrop-filter: blur(14px);
            backdrop-filter: blur(14px);
    -webkit-box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 9px 15px 0px rgba(0, 0, 0, 0.1);
  }
  body main .weathercard .card-container .hour-card .hour-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body main .weathercard .card-container .hour-card .hour-header p {
    font-size: 1rem;
  }
  body main .weathercard .card-container .hour-card .hour {
    background-color: rgba(255, 255, 255, 0.2941176471);
    border-radius: 0px;
    border-bottom: 1px solid gray;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body main .weathercard .card-container .hour-card .hour p {
    margin: 12px;
  }
  body main .weathercard .card-container .hour-card .hour .hour-image {
    height: 50px;
    margin: auto 0;
  }
  body main .weathercard .card-container .card {
    background-color: rgba(255, 255, 255, 0.2941176471);
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 1px solid gray;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body main .weathercard .card-container .card .weekday {
    font-size: 1rem;
  }
  body main .weathercard .card-container .card .weather-image {
    display: none;
    height: 100px;
    -webkit-filter: brightness(0) saturate(100%) invert(20%) sepia(14%) saturate(1647%) hue-rotate(186deg) brightness(94%) contrast(84%);
            filter: brightness(0) saturate(100%) invert(20%) sepia(14%) saturate(1647%) hue-rotate(186deg) brightness(94%) contrast(84%);
  }
  body main .weathercard .card-container .card .temperature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 12px;
    gap: 10px;
  }
  body main .weathercard .card-container .card .temperature p {
    font-size: 1rem;
  }
}